@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     @if (User.Identity.IsAuthenticated ) {
        @if ( ViewBag.Teams != null ) {
            <h3>Team Membership(s)</h3>
            <ul>                
            @foreach( var team in ViewBag.Teams) {
                <li>@team</li>
            }
            </ul>
        }        
    }
</div>
